.menu-button {
    font-family: inherit;
    background-color: var(--blue-color);
    border: none;
    padding: 8px 28px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}
  
.menu-button:hover {
    background-color: var(--light-blue-color);
}

.back-button {
    font-family: inherit;
    border: none;
    width: 100px;
    height: 50px;
    margin-top: 100PX;
}